 
<% if @child.custodians %>
<% @count = @child.custodians.length %>
<% else %>
<% @count = 0 %>
<% end %> 
<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1>New Guardian</h1>
		</div>
	</div>
	<%= render 'form', custodian: @custodian %>
</div>






